# ====================
# Django
# ====================
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/

# ====================
# Entornos virtuales
# ====================
venv/
env/

# ====================
# Configuración de entorno
# ====================
.env
*.env

# ====================
# Archivos del sistema
# ====================
.DS_Store
.idea/
.vscode/
*.log
